:root {
  --font-color: #7f7f7f;
  --heading: #393939;
  --link: #7666ca;
  --white: white;
  --yellow-bg: #fdf2d9;
  --blue-bg: #e8f7fe;
  --bg-2: #e6e3fa;
  --bg-3: #c6c1e2;
  --hero-font-color-text: #3f3b57;
  --underline-hover: #9c8df1;
  --blue-button: #257ae7;
  --button-hover: #2167c2;
  --bg-hover: #dcd7f8;
  --bg-4: #ada7cd;
  --bg-5: #dcd7f8;
  --pink: #cba9b6;
  --pink-bg: #fbebf1;
  --blue-bg-2: #d5ebf5;
  --font: #0f0e0f;
  --linkedin: #3372ad;
  --lines: #b9b8b8;
  --hover-input: #3898ec;
  --button-hover-2: #6759b5;
  --bg: #fdfbf3;
  --light-brown: #e2d6bc;
  --blue-bg-3: #3b5c7a;
  --twitter: #1da1f2;
  --instagram: #fb774e;
  --facebook: #067aeb;
  --pinterest: #d02d2f;
  --tiktok: #79f0ed;
}
